.s1 .bg {
  background-image: url("https://i.imgur.com/G4Fa14Y.png");
}
  
.s2 .bg {
  background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg');
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center center;
  opacity: 0.7;
}
  
  #l1{
    font-weight: bold;
  }
  .nav-item a:hover {
    color: #000;
    text-decoration: none;
  }
  .nav-item a {
      color: #fff;
      text-decoration: none;
  }
  .nav-item{
      /* 導覽列整體設定*/
      margin: 0;
      /* 取消外距，設定為0*/
      padding: 14px;
      /* 內部距離，設定為4px*/
  /*     text-align: center; */
      /* 文字置中*/
      overflow: hidden;
      list-style-type: none;
      /* 取消前面的小黑點*/
      display: inline;
      /* 成一行排列*/
      font-size: 30px;
      margin-top:2%;
  } 
  h5{
    font-size: 30px;
  }


.s2 h1{
  font-weight:bold;
}

.s2 p{
  font-weight:bold;
  font-size:30px;
}
