html,
body {
    height: 100%;

    margin: 0;
}

img {
    width: 15%;
    left: 13px;
    top: 20px;
}

#logo {
    width: 10%;
}

header {
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-between;

}

.text {
    margin: 0;
    /* 取消外距，設定為0*/
    padding: 14px;
    /* 內部距離，設定為4px*/
    text-align: center;
    /* 文字置中*/
    overflow: hidden;
    list-style-type: none;
    /* 取消前面的小黑點*/
    display: inline;
    /* 成一行排列*/
    font-size: 30px;
}

.text a {
    color: #fff;
    text-decoration: none;
}


.text a:hover {
    /* 超連結滑鼠滑過設定*/
    color: #000000;
    /* 文字顏色設定*/
    text-decoration: none;
    /* 文字有底線*/
}

.navigation li {
    /* 導覽列整體設定*/
    margin: 0;
    /* 取消外距，設定為0*/
    padding: 14px;
    /* 內部距離，設定為4px*/
    text-align: center;
    /* 文字置中*/
    overflow: hidden;
    list-style-type: none;
    /* 取消前面的小黑點*/
    display: inline;
    /* 成一行排列*/
    font-size: 30px;
}

.navigation ul li a:hover {
    /* 超連結滑鼠滑過設定*/
    color: #000000;
    /* 文字顏色設定*/
    text-decoration: none;
    /* 文字有底線*/
}

.navigation ul li a {
    /* 超連結設定*/
    color: #ffffff;
    /* 文字顏色設定*/
    text-decoration: none;
    /* 文字無底線 */
}

#back-purple {
    width: 90%;
    height: 88%;
    background-color: #5955b3;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0.75%;
    margin-bottom: 1%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#section {
    width: 41%;
    height: 90%;
    background-color: white;
    margin: 3% 0 5% 5%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.F {
    font-family: "微軟正黑體";
    width: 80%;
    height: 5%;
    font-size: 24px;
    color: white;
    text-align: center;
    background-color: #5955b3;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 30px;
    margin-top: 2%;
}

#floor-plan-1 {
    width: 49%;
    /* min-width: 320px; */
    height: 90%;
    background-color: #EDE6F8;
    margin: 3% 5% 5% 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#floor-plan-2 {
    width: 49%;
    /* min-width: 320px; */
    height: 90%;
    background-color: #EDE6F8;
    margin: 3% 5% 5% 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#floor-plan-3 {
    width: 49%;
    /* min-width: 320px; */
    height: 90%;
    background-color: #EDE6F8;
    margin: 3% 5% 5% 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#floor-plan-4 {
    width: 49%;
    /* min-width: 320px; */
    height: 90%;
    background-color: #EDE6F8;
    margin: 3% 5% 5% 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#floor-plan-5 {
    width: 49%;
    /* min-width: 320px; */
    height: 90%;
    background-color: #EDE6F8;
    margin: 3% 5% 5% 0;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.restroom {
    background-color: #EDE6F8;
    width: 80%;
    height: 45%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
}

#chart .bath {
    fill: transparent;
    stroke: #1E5753;
    stroke-width: 0.5;
}

/* .shower:hover {
    opacity: 1;f
} */

#chart .toliet {
    fill: transparent;
    stroke: #3361DE;
    stroke-width: 0.5;
}

/* #chart .disabled:hover {
    opacity: 0.7;
} */

#chart .washing {
    fill: #faf4f1;
    stroke: black;
    stroke-width: 0.5;
}

#chart .dryer {
    fill: transparent;
    stroke: #D14C1A;
    stroke-width: 0.6;
}

#dryerMachine-1 {
    stroke-width: 3;
    opacity: 0.15;
    /* animation: dash 1.4s linear infinite; */
}

#chart .wc {

    fill: transparent;
    stroke: #2FB1F2;
    stroke-width: 0.5;
}

.wc_ {
    transform: rotate(90deg);
    opacity: 0.1;
}


/* 烘衣機的動畫設定 */

@keyframes dash {
    to {
        stroke-dashoffset: -10;
        /* works, know why */
        opacity: 1;
    }
}

/* #dryerMachine-1:hover {
    stroke-width: 3;
    opacity: 1;
} */

#washing-1,
#washing-2 {
    fill: #FAF4F1;
    stroke: transparent;
    stroke-width: 0;
}

/*
#chart .washing:hover {

    fill: #FAF4F1;
    pointer-events: all;
} */

.usage-box {
    height: 40%;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.usage {
    width: 67%;
    height: 12%;
    background-color: #A499AC;
    border-radius: 30px;
    font-size: 24px;
    color: white;
    font-family: "微軟正黑體";
    display: flex;
    justify-content: flex-start;
}

.facility-name {
    width: 30%;
    text-align: center;
}

.all-box {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.box {
    border: solid;
    height: 23px;
    width: 23px;
    border-color: #5D626F;
    background-color: #0B9A48;
    border-width: 2px;
    border-radius: 8px;
}

#wash-box-1:hover {
    background-color: #CC3014;
}

#wash-box-2:hover {
    background-color: #CC3014;
}

#dry-box-1:hover {
    background-color: #CC3014;
}

#dis-box-1:hover {
    background-color: #CC3014;
}

#bath-box-1:hover {
    background-color: #CC3014;
}

#bath-box-2:hover {
    background-color: #CC3014;
}

#bath-box-3:hover {
    background-color: #CC3014;
}

#bath-box-4:hover {
    background-color: #CC3014;
}

#bath-box-5:hover {
    background-color: #CC3014;
}

#bath-box-6:hover {
    background-color: #CC3014;
}

.content h1 {
    font-family: "微軟正黑體";
    width: 80%;
    height: 60%;
    font-size: 24px;
    color: #5955b3;
    text-align: center;
    background-color: #EDE6F8;
    margin-right: 5%;
    margin-left: 7.5%;
    border-radius: 30px;
    margin-top: 2%;
}

.content {
    /*     position: relative; */
    /*设置可见部分的高度*/
    height: 100%;
    /*随便设置个颜色区分可滚动区域和其他区域*/
    background-color: white;
    /* 设置在竖直方向上可滚动 */
    width: 95%;
    /* top: -15px; */
    margin-left: 0%;
    margin-top: 0%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    /*overflow:hidden样式可以不写，因为scroll会自动隐藏超出content高度的部分*/

}

.rectangle {
    position: relative;
    margin-top: 3%;
    max-width: 90%;
    height: 15%;
    background: #f2f2f2;
    margin-left: 3%;
    border-radius: 30px;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.content p {
    text-decoration: none;
    text-align: left;
    position: relative;
    margin-top: 0%;
    margin-left: 2%;
    font-size: 100px;
    font-family: 'Roboto', sans-serif;
    float: left;
}

.rectangle img {
    position: relative;
    margin-left: auto;
    margin-right: 6%;
    top: 20%;
    height: 75%;
    width: auto;
}