<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replitpp</title>
  <link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" />  
</head>

<body>
  <div class='site-header'> <img src='https://imgur.com/LWHOBJs.png'alt="My test image">
  <nav class='navigation'>
    <ul>
       <li><a  href="/dorm/Home" target="_self">首頁</a></li>
       <li><a  href="/dorm/info">狀態查詢</a></li>
       <li><a  href="/dorm/connect">聯絡資訊</a></li>
    </ul>
  </nav>
  </div>
  <div class="洗衣機"><p>聯絡資訊</p></div>
<script src="script.js"></script>
  
</body>

</html>