<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>雙欄式網頁版型</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link href="style.css" rel="stylesheet" type="text/css" /> 
  </head>

<body>
  <header id="header">
    <img src='https://imgur.com/LWHOBJs.png' alt="My test image">
    <div class= 'text'>
			<a href="首頁.html" target="_self">宿舍通</a>
    </div>  
    <nav class ="navigation">
    <ul>
       <li><a  href="產品介紹.html" target="_self">產品介紹</a></li>
       <li><a  href="表單.html" target="_self">回饋表單</a></li>
       <li><a  href="聯絡資訊.html">聯絡資訊</a></li>
    </ul>
		</nav>
  </header>
  

  
<div id="back-purple">
  <div id="aside">
    <nav class= asidecolumn>
      <ul>
        <li><a href="#">男3</a></li>
        <li><a href="#">男9</a></li>
        <li><a href="#">男11</a></li>
        <li><a href="#">男11</a></li>
        <li><a href="#">女14</a></li>
      </ul>  
    </nav>

	</div>  
	
	<div id="section">
			<div id="floor-plan">
				<h1>平面圖</h1>
				<div class="restroom">
					<svg id="chart"  width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
						<!-- <rect id="utility" class="bath" x="0.5%" y="1%" rx="10" ry="10" width="16.6%" height="19%"></rect> -->
						<!-- <image  x="2.4%" y="2.5%"  width="13%" height="15%" href="D:\Users\pipikaka\Desktop\web\img\636340-200.png" /> -->
						<rect class="bath" x="0.5%" y="20.71%" rx="10" ry="10" width="16.6%" height="19%"></rect>
						<image class="shower" x="-0.5%" y="24.5%"  width="20%" height="13%" href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg" opacity="0.1" />
						<rect class="bath" x="0.5%" y="40.42%" rx="10" ry="10" width="16.6%" height="19%"></rect>
						<image class="shower" x="-0.5%" y="44%"  width="20%" height="13%" href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg" opacity="0.1"/>
						<rect class="bath" x="0.5%" y="60.13%" rx="10" ry="10" width="16.6%" height="19%"></rect>
						<image class="shower" x="-0.5%" y="63.5%"  width="20%" height="13%" href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg" opacity="0.1"/>
						<rect class="bath" x="0.5%" y="79.84%" rx="10" ry="10" width="16.6%" height="19%"></rect>
						<image class="shower" x="-0.5%" y="83.5%"  width="20%" height="13%" href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg" opacity="0.1"/>
						<rect class="bath" x="35%" y="1%" rx="10" ry="10" width="16.6%" height="19%"></rect>
						<image class="shower" x="34%" y="4%"  width="20%" height="13%" href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg" opacity="0.1"/>
						<rect class="bath" x="35%" y="20.71%" rx="10" ry="10" width="16.6%" height="19%"></rect>
						<image class="shower" x="34%" y="24.5%"  width="20%" height="13%" href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg" opacity="0.1"/>
						
						
						<rect class="washing" x="44.3%" y="46.57%" rx="10" ry="10" width="10%" height="17%" ></rect>
						<rect id="washing-1" x="44.3%" y="46.57%" rx="10" ry="10" width="10%" height="17%" >
								<animate attributeType="XML" attributeName="height" from="30" to="17"
												 begin="0s"  dur="1.5s"   repeatCount="indefinite"" 
													/>
						</rect>
						<rect class="washing" x="31.925%" y="46.57%" rx="10" ry="10" width="10%" height="17%" ></rect>
						<rect id="washing-2" x="31.925%" y="46.57%" rx="10" ry="10" width="10%" height="17%" >
								<animate attributeType="XML" attributeName="height" from="30" to="17"
												 begin="0s"  dur="1.5s"   repeatCount="indefinite"" 
													/>
						</rect>
						
						<rect class="toliet" x="68%" y="1%" rx="10" ry="10" width="22%" height="38%"></rect>
						<image class="disabled" x="70.6%" y="5.7%" rx="10" ry="10" width="17%" height="28%" href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/disabled.svg" opacity="0.06"/>
						
						<rect class="dryer" x="77%" y="77.84%" rx="10" ry="10" width="13%" height="21%"></rect>
						<image class="hot-wind"  x="78.4%" y="75%" rx="10" ry="10" width="16%" height="40%" href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/wind.svg" />
					</svg>
				</div>
					<div  id="wash-usage" class="usage">
						<div> <b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp洗衣機&nbsp&nbsp&nbsp&nbsp&nbsp</b></div>
						<div class="wash-all-box">
							<div id="wash-box-1" class="wash-box">  </div>
							<div id="wash-box-2" class="wash-box">  </div>
						</div>
					</div>
					<div id="dry-usage" class="usage">
						<div><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp烘衣機</b></div>
						<div class="dry-all-box">
							<div id="dry-box-1" class="dry-box">  </div>
						</div>
					</div>
					<div id="dis-usage" class="usage">
						<div><b>&nbsp&nbsp&nbsp&nbsp無障礙廁所</b></div>
						<div class="dis-all-box">
							<div id="dis-box-1" class="dis-box">  </div>
						</div>
					</div>
					<div id="bath-usage" class="usage">
						<div><b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp浴室&nbsp&nbsp&nbsp</b></div>
						<div class="bath-all-box">
							<div id="bath-box-1" class="bath-box">  </div>
							<div id="bath-box-2" class="bath-box">  </div>
							<div id="bath-box-3" class="bath-box">  </div>
							<div id="bath-box-4" class="bath-box">  </div>
							<div id="bath-box-5" class="bath-box">  </div>
							<div id="bath-box-6" class="bath-box">  </div>
						</div>
					</div>
			</div>
              
	    <div>
    <ul class="content">
    <div><h1>樓層</h1></div> 
    <div id="rectangle1"><p>1F</p>
    <img src='https://i.imgur.com/COipUDX.png' style="position:relative;top:50px;left:180px;height:50%"> 
    <img src='https://i.imgur.com/aabDKjI.png' style="position:relative;top:50px;left:180px;height:50%"> 
     <img src='https://i.imgur.com/G72m3Rj.png' style="position:relative;top:50px;left:180px;height:50%">
       <img src='https://i.imgur.com/DCJ9n53.png' style="position:relative;top:50px;left:180px;height:50%"> 
      </div>
    <div id="rectangle2"><p>2F</p>
      <img src='https://i.imgur.com/COipUDX.png' style="position:relative;top:50px;left:180px;height:50%"> 
    <img src='https://i.imgur.com/aabDKjI.png' style="position:relative;top:50px;left:180px;height:50%"> 
     <img src='https://i.imgur.com/G72m3Rj.png' style="position:relative;top:50px;left:180px;height:50%">
       <img src='https://i.imgur.com/DCJ9n53.png' style="position:relative;top:50px;left:180px;height:50%"> 
    </div>
    <div id="rectangle3"><p>3F</p>
    <img src='https://i.imgur.com/COipUDX.png' style="position:relative;top:50px;left:180px;height:50%"> 
    <img src='https://i.imgur.com/aabDKjI.png' style="position:relative;top:50px;left:180px;height:50%"> 
     <img src='https://i.imgur.com/G72m3Rj.png' style="position:relative;top:50px;left:180px;height:50%">
      <img src='https://i.imgur.com/DCJ9n53.png' style="position:relative;top:50px;left:180px;height:50%"> 
    </div>
      
    <div id="rectangle4"><p>4F</p>
      <img src='https://i.imgur.com/COipUDX.png' style="position:relative;top:50px;left:180px;height:50%"> 
    <img src='https://i.imgur.com/aabDKjI.png' style="position:relative;top:50px;left:180px;height:50%"> 
     <img src='https://i.imgur.com/G72m3Rj.png' style="position:relative;top:50px;left:180px;height:50%">
     <img src='https://i.imgur.com/DCJ9n53.png' style="position:relative;top:50px;left:180px;height:50%">  
    </div>
    <div id="rectangle5"><p>5F</p>
   <img src='https://i.imgur.com/COipUDX.png' style="position:relative;top:50px;left:180px;height:50%"> 
    <img src='https://i.imgur.com/aabDKjI.png' style="position:relative;top:50px;left:180px;height:50%"> 
     <img src='https://i.imgur.com/G72m3Rj.png' style="position:relative;top:50px;left:180px;height:50%">
     <img src='https://i.imgur.com/DCJ9n53.png' style="position:relative;top:50px;left:180px;height:50%">  
    
    </div>  
    </ul>
  </div> 		
	</div> 

              

              

</div> 


</body>
</html>