<!DOCTYPE html>
<html>

<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>雙欄式網頁版型</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body background="https://i.imgur.com/G4Fa14Y.png">
	<header>
		<img src='http://in.ncu.edu.tw/~ncu7221/OSDS/images/logo.png' id='logo' alt="My test image">
		<div class='text'>
			<a href="dormitory.html" target="_self">宿舍通</a>
		</div>
		<nav class="navigation">
			<ul>
				<li><a href="product.html" target="_self">產品介紹</a></li>
				<li><a href="form.html" target="_self">回饋表單</a></li>
				<li><a href="/dorm/info">聯絡資訊</a></li>
			</ul>
		</nav>
	</header>



	<div id="back-purple">

		<div id="section">
        <ul class="content">
					<div>
          	<h1>樓層</h1>
					</div>
					<div class="rectangle" id="rectangle1" style="background: #f2f2f2;">
                      <p>1F</p>
                      <img src='https://i.imgur.com/COipUDX.png'>
                      <img src='https://i.imgur.com/aabDKjI.png'>
                      <img src='https://i.imgur.com/G72m3Rj.png'>
                      <img src='https://i.imgur.com/DCJ9n53.png'>
					</div>
					<div class="rectangle" id="rectangle2" style="background: #f4f5ff;">
                      <p>2F</p>
                      <img src='https://i.imgur.com/COipUDX.png'>
                      <img src='https://i.imgur.com/aabDKjI.png'>
                      <img src='https://i.imgur.com/G72m3Rj.png'>
                      <img src='https://i.imgur.com/DCJ9n53.png'>
					</div>

					<div class="rectangle" id="rectangle3" style="background: #f7ecfc;">
                      <p>3F</p>
                      <img src='https://i.imgur.com/COipUDX.png'>
                      <img src='https://i.imgur.com/aabDKjI.png'>
                      <img src='https://i.imgur.com/G72m3Rj.png'>
                      <img src='https://i.imgur.com/DCJ9n53.png'>
					</div>

					<div class="rectangle" id="rectangle4" style="background: #fff6dc;">
                      <p>4F</p>
                      <img src='https://i.imgur.com/COipUDX.png'>
                      <img src='https://i.imgur.com/aabDKjI.png'>
                      <img src='https://i.imgur.com/G72m3Rj.png'>
                      <img src='https://i.imgur.com/DCJ9n53.png'>

					</div>
					<div class="rectangle" id="rectangle5" style="background: #d6e4ff;">
                      <p>5F</p>
                      <img src='https://i.imgur.com/COipUDX.png'>
                      <img src='https://i.imgur.com/aabDKjI.png'>
                      <img src='https://i.imgur.com/G72m3Rj.png'>
                      <img src='https://i.imgur.com/DCJ9n53.png'>
					</div>
	      </ul>


    </div>
<div id="floor-plan-1">
			<h1 class="F">平面圖 (1F)</h1>
			<div class="restroom">
				<svg id="chart" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
					<rect class="bath" x="0.5%" y="1%" rx="10" ry="10" width="13%" height="35%"></rect>
					<image id="bath-1" class="shower" x="2%" y="7%" width="11%" height="20%"
						href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
						opacity="0.1" />
					<rect class="bath" x="0.5%" y="40.42%" rx="10" ry="10" width="9%" height="19%"></rect>
					<image id="bath-2" class="shower" x="-1%" y="43.5%" width="13%" height="13%"
						href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
						opacity="0.1" />
					<rect class="bath" x="0.5%" y="60.13%" rx="10" ry="10" width="9%" height="19%"></rect>
					<image id="bath-3" class="shower" x="-1%" y="63%" width="13%" height="13%"
						href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
						opacity="0.1" />
					<rect class="bath" x="0.5%" y="79.84%" rx="10" ry="10" width="9%" height="19%"></rect>
					<image id="bath-4" class="shower" x="-1%" y="83%" width="13%" height="13%"
						href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
						opacity="0.1" />
					<rect class="bath" x="20%" y="1%" rx="10" ry="10" width="13%" height="35%"></rect>
					<image  id="bath-5" class="shower" x="21.5%" y="7%" width="11%" height="20%"
						href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
						opacity="0.1" />

					<rect class="washing" id='washingMachine-1' x="27.5%" y="48%" width="7.5%" height="16%"></rect>
					<rect id="washing-1" x="27.5%" y="48%" width="7.5%" height="16%">
						<animate attributeType="XML" attributeName="height" from="50" to="1" begin="0s" dur="1.5s"
							repeatCount="indefinite"
												/>
					</rect>
					<rect class=" washing" x="18%" y="48%" width="7.5%" height="16%">
					</rect>
					<rect id="washing-2" x="18%" y="48%" width="7.5%" height="16%">
						<animate attributeType="XML" attributeName="height" from="50" to="1" begin="0s" dur="1.5s"
							repeatCount="indefinite"
												/>
					</rect>

					<rect class=" toliet" x="42%" y="1%" rx="10" ry="10" width="17%" height="38%">
					</rect>
					<image class="disabled" id="disabled-1" x="45.5%" y="5.7%" rx="10" ry="10" width="11%" height="28%"
						href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/disabled.svg"
						opacity="0.06" />

					<rect class="dryer" x="56%" y="76.5%" rx="10" ry="10" width="12%" height="23%"></rect>
					<image class="hot-wind" id='dryerMachine-1' x="57.5%" y="76.5%" rx="10" ry="10" width="14%" height="36.5%"
						href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/wind.svg" />

					<rect class="wc" x="61%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
					<image class="wc_" x="-0.8%" y="-147%" width="13%" height="24%"
							href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
							 />
					<rect class="wc" x="74.5%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
					<image class="wc_" x="-0.8%" y="-175%" width="13%" height="24%"
							href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
							 />
					<rect class="wc" x="87.5%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
					<image class="wc_" x="-0.8%" y="-201%" width="13%" height="24%"
							href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
							 />

				</svg>
			</div> <!-- restroom end here -->

			<div class="usage-box">
			<div class="usage">
				<div class="facility-name"> <b>洗衣機</b></div>
				<div class="all-box">
					<div id="wash-box-1" class="box"> </div>
					<div id="wash-box-2" class="box"> </div>
				</div>
			</div>
			<div class="usage">
				<div class="facility-name"><b>烘衣機</b></div>
				<div class="all-box">
					<div id="dry-box-1" class="box"> </div>
				</div>
			</div>
			<div class="usage">
				<div class="facility-name"><b>無障礙廁所</b></div>
				<div class="all-box">
					<div id="dis-box-1" class="box"> </div>
				</div>
			</div>
			<div class="usage">
				<div class="facility-name"><b>浴室</b></div>
				<div class="all-box">
					<div id="bath-box-1" class="box"> </div>
					<div id="bath-box-2" class="box"> </div>
					<div id="bath-box-3" class="box"> </div>
					<div id="bath-box-4" class="box"> </div>
					<div id="bath-box-5" class="box"> </div>
				</div>
			</div>
		</div> <!--usage-box end here -->

</div>  <!--floor-plan end here-->

<div id="floor-plan-2">
	<h1 class="F">平面圖 (2F)</h1>
	<div class="restroom">
		<svg id="chart" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
			<rect class="bath" x="0.5%" y="20.71%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-1" class="shower" x="-1%" y="24%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="40.42%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-2" class="shower" x="-1%" y="43.5%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="60.13%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-3" class="shower" x="-1%" y="63%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="79.84%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-4" class="shower" x="-1%" y="83%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="22%" y="1%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-5" class="shower" x="20.5%" y="4%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="22%" y="20.71%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-6" class="shower" x="20.5%" y="24.5%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />


			<rect class="washing" id='washingMachine-1' x="27.5%" y="48%" width="7.5%" height="16%"></rect>
			<rect id="washing-1" x="27.5%" y="48%" width="7.5%" height="16%">
				<animate attributeType="XML" attributeName="height" from="50" to="1" begin="0s" dur="1.5s"
					repeatCount="indefinite"
										/>
			</rect>
			<rect class=" washing" x="18%" y="48%" width="7.5%" height="16%">
			</rect>
			<rect id="washing-2" x="18%" y="48%" width="7.5%" height="16%">
				<animate attributeType="XML" attributeName="height" from="50" to="1" begin="0s" dur="1.5s"
					repeatCount="indefinite"
										/>
			</rect>

			<rect class=" toliet" x="42%" y="1%" rx="10" ry="10" width="17%" height="38%">
			</rect>
			<image class="disabled" id="disabled-1" x="45.5%" y="5.7%" rx="10" ry="10" width="11%" height="28%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/disabled.svg"
				opacity="0.06" />

			<rect class="dryer" x="56%" y="76.5%" rx="10" ry="10" width="12%" height="23%"></rect>
			<image class="hot-wind" id='dryerMachine-1' x="57.5%" y="76.5%" rx="10" ry="10" width="14%" height="36.5%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/wind.svg" />

			<rect class="wc" x="61%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-147%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />
			<rect class="wc" x="74.5%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-175%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />
			<rect class="wc" x="87.5%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-201%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />

		</svg>
	</div> <!-- restroom end here -->

	<div class="usage-box">
	<div class="usage">
		<div class="facility-name"> <b>洗衣機</b></div>
		<div class="all-box">
			<div id="wash-box-1" class="box"> </div>
			<div id="wash-box-2" class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>烘衣機</b></div>
		<div class="all-box">
			<div id="dry-box-1" class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>無障礙廁所</b></div>
		<div class="all-box">
			<div id="dis-box-1" class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>浴室</b></div>
		<div class="all-box">
			<div id="bath-box-1" class="box"> </div>
			<div id="bath-box-2" class="box"> </div>
			<div id="bath-box-3" class="box"> </div>
			<div id="bath-box-4" class="box"> </div>
			<div id="bath-box-5" class="box"> </div>
			<div id="bath-box-6" class="box"> </div>
		</div>
	</div>
</div> <!--usage-box end here -->
</div>  <!--floor-plan end here-->
<div id="floor-plan-3">
	<h1 class="F">平面圖 (3F)</h1>
	<div class="restroom">
		<svg id="chart" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
			<rect class="bath" x="0.5%" y="1%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-1" class="shower" x="-1%" y="4%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="20.71%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-2" class="shower" x="-1%" y="24%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="40.42%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-3" class="shower" x="-1%" y="43.5%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="60.13%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-4" class="shower" x="-1%" y="63%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="79.84%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-5" class="shower" x="-1%" y="83%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="22%" y="20.71%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-6" class="shower" x="20.5%" y="24.5%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />


			<rect class="washing" id='washingMachine-1' x="27.5%" y="48%" width="7.5%" height="16%"></rect>
			<rect id="washing-1" x="27.5%" y="48%" width="7.5%" height="16%">
				<animate attributeType="XML" attributeName="height" from="50" to="1" begin="0s" dur="1.5s"
					repeatCount="indefinite"
										/>
			</rect>
			<rect class=" washing" x="18%" y="48%" width="7.5%" height="16%">
			</rect>
			<rect id="washing-2" x="18%" y="48%" width="7.5%" height="16%">
				<animate attributeType="XML" attributeName="height" from="50" to="1" begin="0s" dur="1.5s"
					repeatCount="indefinite"
										/>
			</rect>

			<rect class=" toliet" x="42%" y="1%" rx="10" ry="10" width="17%" height="38%">
			</rect>
			<image class="disabled" id="disabled-1" x="45.5%" y="5.7%" rx="10" ry="10" width="11%" height="28%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/disabled.svg"
				opacity="0.06" />

			<rect class="dryer" x="56%" y="76.5%" rx="10" ry="10" width="12%" height="23%"></rect>
			<image class="hot-wind" id='dryerMachine-1' x="57.5%" y="76.5%" rx="10" ry="10" width="14%" height="36.5%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/wind.svg" />

			<rect class="wc" x="61%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-147%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />
			<rect class="wc" x="74.5%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-175%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />
			<rect class="wc" x="87.5%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-201%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />

		</svg>
	</div> <!-- restroom end here -->

	<div class="usage-box">
	<div class="usage">
		<div class="facility-name"> <b>洗衣機</b></div>
		<div class="all-box">
			<div id="wash-box-1" class="box"> </div>
			<div id="wash-box-2" class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>烘衣機</b></div>
		<div class="all-box">
			<div id="dry-box-1" class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>無障礙廁所</b></div>
		<div class="all-box">
			<div id="dis-box-1" class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>浴室</b></div>
		<div class="all-box">
			<div id="bath-box-1" class="box"> </div>
			<div id="bath-box-2" class="box"> </div>
			<div id="bath-box-3" class="box"> </div>
			<div id="bath-box-4" class="box"> </div>
			<div id="bath-box-5" class="box"> </div>
			<div id="bath-box-6" class="box"> </div>
		</div>
	</div>
</div> <!--usage-box end here -->
</div>  <!--floor-plan end here-->
<div id="floor-plan-4">
	<h1 class="F">平面圖 (4F)</h1>
	<div class="restroom">
		<svg id="chart" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
			<rect class="bath" x="0.5%" y="1%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-1" class="shower" x="-1%" y="4%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="20.71%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-2" class="shower" x="-1%" y="24%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="40.42%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-3" class="shower" x="-1%" y="43.5%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="60.13%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-4" class="shower" x="-1%" y="63%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="79.84%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-5" class="shower" x="-1%" y="83%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="22%" y="20.71%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-6" class="shower" x="20.5%" y="24.5%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />


			<rect class="washing" id='washingMachine-1' x="27.5%" y="48%" width="7.5%" height="16%"></rect>
			<rect id="washing-1" x="27.5%" y="48%" width="7.5%" height="16%">
				<animate attributeType="XML" attributeName="height" from="50" to="1" begin="0s" dur="1.5s"
					repeatCount="indefinite"
										/>
			</rect>
			<rect class=" washing" x="18%" y="48%" width="7.5%" height="16%">
			</rect>
			<rect id="washing-2" x="18%" y="48%" width="7.5%" height="16%">
				<animate attributeType="XML" attributeName="height" from="50" to="1" begin="0s" dur="1.5s"
					repeatCount="indefinite"
										/>
			</rect>

			<rect class=" toliet" x="42%" y="1%" rx="10" ry="10" width="17%" height="38%">
			</rect>
			<image class="disabled" id="disabled-1" x="45.5%" y="5.7%" rx="10" ry="10" width="11%" height="28%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/disabled.svg"
				opacity="0.06" />

			<rect class="dryer" x="56%" y="76.5%" rx="10" ry="10" width="12%" height="23%"></rect>
			<image class="hot-wind" id='dryerMachine-1' x="57.5%" y="76.5%" rx="10" ry="10" width="14%" height="36.5%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/wind.svg" />

			<rect class="wc" x="61%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-147%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />
			<rect class="wc" x="74.5%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-175%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />
			<rect class="wc" x="87.5%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-201%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />

		</svg>
	</div> <!-- restroom end here -->

	<div class="usage-box">
	<div class="usage">
		<div class="facility-name"> <b>洗衣機</b></div>
		<div class="all-box">
			<div id="wash-box-1" class="box"> </div>
			<div id="wash-box-2" class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>烘衣機</b></div>
		<div class="all-box">
			<div id="dry-box-1" class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>無障礙廁所</b></div>
		<div class="all-box">
			<div class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>浴室</b></div>
		<div class="all-box">
			<div id="bath-box-1" class="box"> </div>
			<div id="bath-box-2" class="box"> </div>
			<div id="bath-box-3" class="box"> </div>
			<div id="bath-box-4" class="box"> </div>
			<div id="bath-box-5" class="box"> </div>
			<div id="bath-box-6" class="box"> </div>
		</div>
	</div>
</div> <!--usage-box end here -->
</div>  <!--floor-plan end here-->
<div id="floor-plan-5">
	<h1 class="F">平面圖 (5F)</h1>
	<div class="restroom">
		<svg id="chart" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
			<rect class="bath" x="0.5%" y="1%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-1" class="shower" x="-1%" y="4%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="20.71%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-2" class="shower" x="-1%" y="24%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="40.42%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-3" class="shower" x="-1%" y="43.5%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="0.5%" y="60.13%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-4" class="shower" x="-1%" y="63%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="22%" y="1%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-5" class="shower" x="20.5%" y="4%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />
			<rect class="bath" x="22%" y="20.71%" rx="10" ry="10" width="9%" height="19%"></rect>
			<image id="bath-6" class="shower" x="20.5%" y="24.5%" width="13%" height="13%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/shower-1.svg"
				opacity="0.1" />


			<rect class="washing" id='washingMachine-1' x="27.5%" y="48%" width="7.5%" height="16%"></rect>
			<rect id="washing-1" x="27.5%" y="48%" width="7.5%" height="16%">
				<animate attributeType="XML" attributeName="height" from="50" to="1" begin="0s" dur="1.5s"
					repeatCount="indefinite"
										/>
			</rect>
			<rect class="washing" x="18%" y="48%" width="7.5%" height="16%">
			</rect>
			<rect id="washing-2" x="18%" y="48%" width="7.5%" height="16%">
				<animate attributeType="XML" attributeName="height" from="50" to="1" begin="0s" dur="1.5s"
					repeatCount="indefinite"
										/>
			</rect>

			<rect class=" toliet" x="42%" y="1%" rx="10" ry="10" width="17%" height="38%">
			</rect>
			<image class="disabled" id="disabled-1" x="45.5%" y="5.7%" rx="10" ry="10" width="11%" height="28%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/disabled.svg"
				opacity="0.06" />

			<rect class="dryer" x="56%" y="76.5%" rx="10" ry="10" width="12%" height="23%"></rect>
			<image class="hot-wind" id='dryerMachine-1' x="57.5%" y="76.5%" rx="10" ry="10" width="14%" height="36.5%"
				href="https://raw.githubusercontent.com/xhartonx/DORM/5a2e66114a04616325357a6f302e774faf939cd1/html/html/img/wind.svg" />

			<rect class="wc" x="61%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-147%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />
			<rect class="wc" x="74.5%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-175%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />
			<rect class="wc" x="87.5%" y="1%" rx="10" ry="10" width="12%" height="21%"></rect>
			<image class="wc_" x="-0.8%" y="-201%" width="13%" height="24%"
					href="https://raw.githubusercontent.com/xhartonx/DORM/7b471f6e2c3da8984f2afce7490847f5a71c208d/html/html/img/wc.svg"
					 />

		</svg>
	</div> <!-- restroom end here -->

	<div class="usage-box">
	<div class="usage">
		<div class="facility-name"> <b>洗衣機</b></div>
		<div class="all-box">
			<div id="wash-box-1" class="box"> </div>
			<div id="wash-box-2" class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>烘衣機</b></div>
		<div class="all-box">
			<div id="dry-box-1" class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>無障礙廁所</b></div>
		<div class="all-box">
			<div class="box"> </div>
		</div>
	</div>
	<div class="usage">
		<div class="facility-name"><b>浴室</b></div>
		<div class="all-box">
			<div id="bath-box-1" class="box"> </div>
			<div id="bath-box-2" class="box"> </div>
			<div id="bath-box-3" class="box"> </div>
			<div id="bath-box-4" class="box"> </div>
			<div id="bath-box-5" class="box"> </div>
			<div id="bath-box-6" class="box"> </div>
		</div>
	</div>
</div> <!--usage-box end here -->
</div>  <!--floor-plan end here-->


</div> <!--back purple end here -->

    <script src="{% static '/javascript/dormitory.js' %}">

		</script>
		<script type="text/javascript">
			$("#floor-plan-1").hide()
			$("#floor-plan-2").show()
		  $("#floor-plan-3").hide()
			$("#floor-plan-4").hide()
			$("#floor-plan-5").hide()
			$("#rectangle1").mouseenter(function () {
				$("#floor-plan-2").hide()
					$("#floor-plan-1").show();
			}).mouseleave(function () {
					$("#floor-plan-1").hide();
			});
		$("#rectangle2").mouseenter(function () {
			$("#floor-plan-2").hide()
		    $("#floor-plan-2").show();
		}).mouseleave(function () {
		    $("#floor-plan-2").hide();
		});
		$("#rectangle3").mouseenter(function () {
			$("#floor-plan-2").hide()
		    $("#floor-plan-3").show();
		}).mouseleave(function () {
		    $("#floor-plan-3").hide();
		});
		$("#rectangle4").mouseenter(function () {
			$("#floor-plan-2").hide()
		    $("#floor-plan-4").show();
		}).mouseleave(function () {
		    $("#floor-plan-4").hide();
		});
		$("#rectangle5").mouseenter(function () {
			$("#floor-plan-2").hide()
		    $("#floor-plan-5").show();
		}).mouseleave(function () {
		    $("#floor-plan-5").hide();
		});

		</script>


</body>

</html>
