<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>雙欄式網頁版型</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link href="{% static '/css/style.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="style.css">
</head>

<body background="https://i.imgur.com/G4Fa14Y.png">
	<header>
		<img src='http://in.ncu.edu.tw/~ncu7221/OSDS/images/logo.png' id='logo' alt="My test image">
		<div class='text'>
			<a href="dormitory.html" target="_self">宿舍通</a>
		</div>
		<nav class="navigation">
			<ul>
				<li><a href="product.html" target="_self">產品介紹</a></li>
				<li><a href="form.html" target="_self">回饋表單</a></li>
				<li><a href="/dorm/info">聯絡資訊</a></li>
			</ul>
		</nav>
	</header>



<div id="back-purple">

		
 <form action="#" method="get">
<div id=box1>
  <p id=word1>整體來說，您滿不滿意此系統</p>
      <p class=selectRole><input type="radio"name="rating"value="yes">
        是<br></p>
         <p class=selectRole><input type="radio"name="rating"value="no">
        否<br></p>
         <p class=selectRole><input type="radio"name="rating"value="maybe">
        不一定<br></p>
      </p>
</div>
<div id=box2>DIV區塊</div>
<div id=box3>
 <div class=selectRole>
    <input type="checkbox">
    <label>Do you like cheese?</label>
    
</div>
<div>
    <input type="checkbox">
    <label>Do you like peas?</label>
    
</div> 
</div>
<div id=d>DIV區塊</div>
<div id=box3>DIV區塊</div> 
</form>


</div> <!--back purple end here -->

    <script src="{% static '/javascript/dormitory.js' %}"></script>


</body>

</html>
