<!DOCTYPE html>
<html>

<head>
	{% load static %}
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>雙欄式網頁版型</title>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	<link href="{% static '/css/form_style.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="form_style.css">
</head>

<body background="https://i.imgur.com/G4Fa14Y.png">
	<header>
		<img src='http://in.ncu.edu.tw/~ncu7221/OSDS/images/logo.png' id='logo' alt="My test image">
		<div class='text'>
			<a href="dormitory.html" target="_self">宿舍通</a>
		</div>
		<nav class="navigation">
			<ul>
				<li><a href="product.html" target="_self">產品介紹</a></li>
				<li><a href="form.html" target="_self">回饋表單</a></li>
				<li><a href="/dorm/info">聯絡資訊</a></li>
			</ul>
		</nav>
	</header>
<img src='https://i.imgur.com/a1SDK6P.png' id='school' alt="My test image">
<div id="back-purple">

<iframe id='form 'src="https://docs.google.com/forms/d/e/1FAIpQLSeYu9A7C1xxBPW36jEUhEHvRkasUkVJYbKRyeveidFfpiHw5Q/viewform?embedded=true" width= 100% height=100% frameborder="0" marginheight="0" marginwidth="0" scrollbar-width: none >載入中…</iframe>
</div>

 <script src="{% static '/javascript/dormitory.js' %}"></script>


</body>

</html>