<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <title>宿舍通</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon"
    href="https://th.bing.com/th/id/R.a50e1ed7786b12095deb6eebcfb557a8?rik=G2JGKYGbtI6k6g&riu=http%3a%2f%2fwww.cc.ncu.edu.tw%2f%7encu7221%2fOSDS%2fdist%2fimages%2flogo.png&ehk=41XmvbY%2fwqI0%2fzQYupcXmXl%2fgLhMVdI%2fs6s3ixw28Rs%3d&risl=&pid=ImgRaw&r=0"
    type="image/x-icon" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
  </script>
  <link href="{% static '/css/product_style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body background="https://i.imgur.com/G4Fa14Y.png">
  <div class="s1">
    <nav class="navbar navbar-expand-lg navbar-dark bg">
      <a class="navbar-brand" href="/dorm/Home"><img src="http://in.ncu.edu.tw/~ncu7221/OSDS/images/logo.png" width=""
          height="45" class="d-inline-block  align-top" alt="">
        <span class="h2 mx-1">宿舍通-男11</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class=" collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="/dorm/Home">
              <h5>首頁</h5>
            </a>
          </li>
          <li class="nav-item">
            <a href="/dorm/product">
              <h5>產品介紹</h5>
            </a>
          </li>
          <li class="nav-item">
            <a href="/dorm/feedbacks">
              <h5>回饋表單</h5>
            </a>
          </li>
          <li class="nav-item">
            <a href="/dorm/connect">
              <h5>報修系統</h5>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class='s2'>
    <div class="jumbotron jumbotron-fluid bg text-white text-center ">
      <h1 class="display-2  "> 宿舍通 </h1>

      <p class="lead ">
        是不是常常在宿舍裡遇到需要排隊的困擾 讓宿舍通改善你我的生活
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="card">
          <img src="https://i.imgur.com/G72m3Rj.png" class="card-img-top "
            alt="..." style="height: 200px;width: 200px;text-align:center;">
          <div class="card-body">
            <h5 class="card-title">洗衣機</h5>
            <p class="card-text">利用智慧插座計算洗衣時的電流電壓並界定閥值，蒐集資訊後將訊息傳到樹梅派再送到後台，
	    因此懇請各位宿民不要隨意開關插座電源~</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4  ">
        <div class="card">
          <img src="https://i.imgur.com/DCJ9n53.png" class="card-img-top"
            alt="..." style="height: 200px;width: 200px;padding:auto;">
          <div class="card-body">
            <h5 class="card-title">烘衣機</h5>
            <p class="card-text">利用震動感測器測量烘衣服時產生的震動，將資料蒐集後利用esp32將資料傳回後台，也請不要移動	    機器上的儀器避免毀損喔</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4  ">
        <div class="card">
          <img src="https://i.imgur.com/COipUDX.png" class="card-img-top"
            alt="..." style="height: 200px;width: 200px;text-align:center;">
          <div class="card-body">
            <h5 class="card-title">浴廁</h5>
            <p class="card-text">利用磁鐵的原理判定是否有人正在使用廁所，並把資料透過樹梅派傳回後台，由於開關皆由學生們
              自行組裝，請不要大力破壞喔~</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
